@import url("../../styles/scrollbar.css");
.user-list {
  height: 500px;
  width: 100%;
  /* width: 250px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: rgb(23, 55, 115);
  padding: 5px;
  border-radius: 10px;
}
.list-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  max-height: 78%;
}
ul {
  list-style-type: none;
}
li {
  align-self: flex-start;
  border-bottom: 1px solid;
  width: 100%;
}

.to-login-register-link {
  margin: 5px;
  color: aquamarine;
}
