body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  color: white;
}
.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

h1 {
  display: flex;
  justify-content: center;
  align-self: center;
}

p,
h1,
h2,
h3,
h4 {
  transition: 1s;
  animation: fade-in 1s;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: darkturquoise;
  margin: 0px 3px;
}
p {
  font-size: 15px;
}
* {
  transition: 1s;
}
