.menu-conteiner {
  background-color: #3498db;
  width: 100px;
  height: 100px;
}
.first-layer {
  display: flex;
  flex-direction: row;
}
.first-layer span {
  background-color: aliceblue;
}
.menu-icon-item {
  width: 20px;
  height: 20px;
  background-color: #3498db; /* ou qualquer cor desejada */
  margin: 5px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
}

/* Estilo para o cubo mágico */
.first-layer:nth-child(1) .menu-icon-item {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.first-layer:nth-child(2) .menu-icon-item {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}
.first-layer:nth-child(3) .menu-icon-item {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
}

.first-layer:nth-child(4) .menu-icon-item {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
.first-layer:nth-child(5) .menu-icon-item {
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg);
}
.first-layer:nth-child(6) .menu-icon-item {
  transform: rotateX(180deg) rotateY(90deg) rotateZ(0deg);
}

.first-layer:nth-child(7) .menu-icon-item {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
.first-layer:nth-child(8) .menu-icon-item {
  transform: rotateX(90deg) rotateY(180deg) rotateZ(0deg);
}
.first-layer:nth-child(9) .menu-icon-item {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
}
